.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  background-color: #0F1537;
  color: whitesmoke;
  border: 1px solid #2d324e;
  padding: 10px;

  &:hover {
    border-color: #50598a
  }

  &:focus {
    border-color: #9ca6d5;
  }
}

.error {
  border-color: #ff5858;
}
